.meia-bola {
    width: 50vw; 
    height: 100vh; 
    background-color: rgb(34, 109, 0); 
    border-radius: 0 50% 50% 0;
    position: absolute; 
    top: 0; 
    left: 0; 
  }

  .texto-sobre-meia-bola {
    position: absolute;
    top: 25%;
    left: 10%; 
    transform: translateY(-50%); 
    color: #030000; 
    font-size: 24px;
    font-family: Arial, sans-serif; 
    font-size: 500%;
  }