.meia-bola {
    width: 50vw; 
    height: 100vh; 
    background-color: rgb(35, 97, 6); 
    border-radius: 0 50% 50% 0;
    position: absolute; 
    top: 0; 
    left: 0; 
  }

  .texto-sobre-meia-bola {
    position: absolute;
    top: 25%;
    left: 2%; 
    transform: translateY(-50%); 
    color: #ffffff; 
    font-size: 24px;
    font-family: Arial, sans-serif; 
    font-size: 800%;
    
  }


.form-container {
    position: absolute;
    top: 50%;
    left: 2%;
    width: 40%;
}

.form-control {
    width: 90%;
    padding: 1%;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: 0.5rem; 
}

.btn-entrar {
    display: block;
    width: 50%;
    padding: 2%;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #28a745; 
    border: none;
    border-radius: 0.5rem; 
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1rem; 
}

.btn-esqueci-senha {
  display: block;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  color: white; 
  border: none;
  left: 2%;
  margin-top: 1rem; 
  text-decoration: none; 
}

.btn-esqueci-senha:hover {
  text-decoration: underline;
  color: #0056b3; 
}